services:

  login:
    image: login
    container_name: login
    ports:
      - "8080:8080"
    restart: unless-stopped

  matchmakerservice:
    image: matchmakerservice
    container_name: matchmakerservice
    ports:
      - "5000:5000"
    restart: unless-stopped

  storeservice:
    image: storeservice
    container_name: storeservice
    ports:
      - "8081:8081"
    restart: unless-stopped

  playerinfoservice:
    image: playerinfoservice
    container_name: playerinfoservice
    ports:
      - "6000:6000"
    restart: unless-stopped

  gameserver:
    image: gameserver
    container_name: gameserver
    ports:
      - "5001:5001"
    restart: unless-stopped

  relayrouter:
    image: sofiecat/relay_router:latest
    container_name: relayrouter
    ports:
      - "5002:5002"
    restart: unless-stopped

  microclient:
    image: microclient
    container_name: client
    ports:
      - "3000:3000"
    command: /bin/sh -c "sleep 5 && dotnet Client.dll"
    depends_on:
    - login
    - matchmakerservice
    - storeservice
    - playerinfoservice
  relay:
    image: sofiecat/relay:latest
    container_name: relay
    ports:
      - "9000:9000"
      - "52306:52306"
    restart: unless-stopped
    depends_on:
      - rabbitmq