

services:
  login:
    image: login:latest
    container_name: login
    ports:
      - "8080:8080"   # adjust ports if needed
    restart: unless-stopped

  matchmakerservice:
    image: matchmakerservice
    container_name: matchmakerservice
    ports:
      - "5000:5000"   # adjust ports if needed
    restart: unless-stopped

  microclient:
    image: microclient
    ports:
      - "3000:3000"   # adjust ports if needed
    restart: unless-stopped