apiVersion: v1
kind: Service
metadata:
  name: gameserver
  namespace: staging
spec:
  selector:
    app: gameserver
  ports:
    - name: http
      protocol: TCP
      port: 5001
      targetPort: 5001
  type: ClusterIP