apiVersion: batch/v1
kind: Job
metadata:
  name: microclient
  namespace: staging
spec:
  template:
    spec:
      containers:
        - name: microclient
          image: tornbjerg/micro-client:1.0.3
          imagePullPolicy: IfNotPresent
          env:
            - name: LOGIN_URL
              value: http://login:8080/api/auth/health
            - name: MATCHMAKER_URL
              value: http://matchmakerservice:5000/Match/health
            - name: STORE_URL
              value: http://storeservice:8081/Store
            - name: PLAYER_URL
              value: http://playerinfoservice:6000/api/player
          command: ["/bin/sh", "-c", "sleep 10 && dotnet MicroClient.dll"]
      restartPolicy: Never