apiVersion: apps/v1
kind: Deployment
metadata:
  name: relay
  namespace: staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: relay
  template:
    metadata:
      labels:
        app: relay
    spec:
      containers:
        - name: relay
          image: tornbjerg/relay-service:1.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9000
            - containerPort: 52306